@font-face {
  font-family: Pixelated-Elegance;
  src: url("./assets/fonts/PixelatedEleganceRegular-ovyAA.ttf");
}

@import "tailwindcss";

@layer base {
  * {
    @apply font-[Pixelated-Elegance];
  }
}

@theme {
  --color-internal-grey: #363636;
  --breakpoint-third: 1265px;
  --breakpoint-second: 768px;
}
